.bttnremove {
  background-color: blue;
  color: white;
  border: 3px solid aquamarine;
}
.bttadd {
  background-color: green;
  color: white;
  border: 3px solid palegreen;
}
.bttnrst {
  background-color: red;
  color: white;
  border: 3px solid rosybrown;
}
